section {
    height: 100vh;
}

.dotted-scrollspy {
    background: rgba(0, 0, 0, .21);
    border-radius: 22px 0 0 22px;
    width: 38px;
}

.dotted-scrollspy li {
    display: block;
    padding: 0 0.5rem;
}

.nav-item-desc {
    box-shadow: black;
    font-weight: bolder;
    display: none;


}

#item1:hover #desc1 {
    position: absolute;
    left: -100px;
    top: 10px;
    display: block;
}

#item2:hover #desc2 {
    position: absolute;
    left: -100px;
    top: 33px;
    display: block;
}

#item3:hover #desc3 {
    position: absolute;
    left: -100px;
    top: 58px;
    display: block;
}

#item4:hover #desc4 {
    position: absolute;
    left: -100px;
    top: 82px;
    display: block;
}

#item5:hover #desc5 {
    position: absolute;
    left: -100px;
    top: 107px;
    display: block;
}

#item6:hover #desc6 {
    position: absolute;
    left: -100px;
    top: 130px;
    display: block;
}